/** GENERAL **/
body{
	background-image: url('../img/background.png');
	background-size: cover;
}
#main-content{
	color: #fff;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
#logo{
	text-align: center;
}
.bandeau{
	background-color: rgba(255, 255, 255, 0.05);
	padding: 4em 0;
}
.main-action a{
	color: #fff;
	background-color: rgba(255, 255, 255, 0.02);
	text-decoration: none;
	border: 2px solid #50525d;
	border-radius: 10px;
	padding: 10px 15px;
}
.arrow{
	background-image: url('../img/arrow.png');
	width: 15px;
	height: 15px;
	display: inline-block;
}
.wrapper-header{
	color: #b4b4b4;
}
.wrapper-header h2{
	color: #28a348;
	margin: 0;
}
.wrapper-header h2:first-letter {
	text-transform:capitalize;
}


/** MOBILE **/
.main-phone{
	margin: 2em;
	text-align: justify;
}
.main-phone .wrapper-header h2{
	display: inline-block;
	margin-right: 10px;
}
.main-phone .middle{
	font-size: 1.5em;
}
.main-phone p{
	line-height: 1.5em;
}
.main-phone .main-action{
	text-align: center;
	padding-top: 1em;
}
.main-phone .wrapper-central{
	margin-bottom: 5em;
}


/** DESKTOP **/
.main-desktop .wrapper-central{
	margin: 0 1em 0 7em;
}
.main-desktop .etape header,
.main-desktop .etape article{
	display: inline-block;
}
.main-desktop .etape header{
	width: 20%;
	vertical-align: top;
}
.main-desktop .etape article{
	width: 80%;
	line-height: 1.7em;
	vertical-align: bottom;
}
.main-desktop .wrapper-header .wide{
	font-size: 4em;
	font-weight: 700;
}
.main-desktop .description{
	border-left: 1px solid #9a9da7;
	padding: 0 20px;
	margin: 0;
}
.main-desktop .main-action{
	text-align: center;
	margin: 4em 0;
}
.main-desktop .main-action p{
	margin: 0;
	font-size: 2em;
}
.main-desktop .main-action a{
	padding: 20px 35px;
}